[2018-02-15 04:37] davidmoten opened #76 "Public and internal api dermarcation"
Once the library goes to N.0 the convention is to maintain the public api till (N+1).0. The natural question is What is the public API in this library?. That is not currently clear. Perhaps every class should remain in the public API?
A useful technique is to move classes that are strictly internal (and can be freely refactored/renamed/iterated on by the team within the same major release) to pack

[2018-08-24 07:03] brunoborges opened #75 "Migrate documentation from GitHub Wiki to docs.microsoft.com"
The documentation of this library must reside under docs.microsoft.com.
Please consider this for the next planning.
[AB#6048](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/6048)

[2018-10-18 22:31] davidmoten opened #124 "OData Inheritance not supported"
A problem with the currently generated SDK is that  the generated entity and complex type classes do not mirror the single inheritance structure indicated in the odata metadata. As a consequence when I request a collection of Attachment (which may be an FileAttachment or an ItemAttachment or a ReferenceAttachment) I have to use its `@odata.type`to figure out what sort of Attachment it is and query

[2019-03-21 08:36] deepak2016 opened #18 "BatchResponseContent getResponses method"
SImilar to javascript library getResponses method should return collection of Response object instead of returning json object.

[2019-04-02 06:26] NakulSabharwal opened #19 "Add SdkVersion request header"
- Add request header 'sdkversion=graph-java-core-v0.1.0' in request going through java core

[2019-04-17 07:38] #19 closed

[2019-04-17 07:39] NakulSabharwal commented on #19
SdkVersion header added in this PR https://github.com/microsoftgraph/msgraph-sdk-java-core/pull/22 .

[2019-04-25 19:07] NakulSabharwal commented on #18
Resolved this issue in PR #24

[2019-04-25 19:07] #18 closed

[2020-03-09 21:37] baywet opened #30 "1.0.1 available on bintray but not as a release (github) or on central"
Available here
https://bintray.com/microsoftgraph/Maven/microsoft-graph-core/1.0.1
And the maven installation instructs 1.0.1
https://github.com/microsoftgraph/msgraph-sdk-java-core#12-install-via-maven

But it's not available as a release here
https://github.com/microsoftgraph/msgraph-sdk-java-core/releases
And not available on central
https://search.maven.org/search?q=g:com.microsoft.graph

[2020-06-06 00:27] baywet commented on #30
Cc @ddyett

[2020-06-11 16:51] GaganBhat commented on #30
Any ETA on when we can see this up on central?

[2020-06-11 21:01] GaganBhat commented on #30
While trivial, for people who come by this, you can use the bintray release by adding the repository and including the dependency as shown below.

[code]

[2020-06-24 23:26] MIchaelMainer opened #36 "Manage package version in a single place"
Currently is hard coded in telemetryhandler, readme, and gradle.properties.

See  for an example https://github.com/microsoftgraph/msgraph-sdk-java-core/pull/35

[2020-06-25 00:06] MIchaelMainer opened #38 "Add automated GH releases to release pipelines"
Add stage after successful releases to JCenter and MavenCentral.
[AB#5881](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/5881)

[2020-06-25 00:56] MIchaelMainer commented on #30
You should see it on central soon: https://repo1.maven.org/maven2/com/microsoft/graph/microsoft-graph-core/1.0.1/
We've added a tracking item for adding a GitHub release: https://github.com/microsoftgraph/msgraph-sdk-java-core/issues/38

[2020-06-25 15:22] ddyett commented on #36
optimization for future milestone.

[2020-06-25 16:38] #30 closed

[2020-08-14 18:36] MIchaelMainer opened #45 "Update Azure-Identity docs to point to this SDK when TokenCredentialAuthProvider goes GA"
There is a list of clients that use it here, we should be on this list:

https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/identity/azure-identity#next-steps
[AB#7112](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7112)

[2020-08-28 19:29] baywet commented on #38
example https://o365exchange.visualstudio.com/O365%20Sandbox/_releaseDefinition?definitionId=40&_a=definition-tasks&environmentId=57

[2020-08-31 12:44] baywet commented on #38
things seem to already be in place for this specific package, closing

[2020-08-31 12:44] #38 closed

[2020-08-31 12:46] baywet commented on #36
@MIchaelMainer what were your thoughts here? more like a PS script that bumps everything automatically?

[2020-09-10 17:40] baywet opened #66 "Refactor url replacement in batch to use single regex"
Wouldn't this be better as a single, pre-compilled regex (you can just group the part that changes.  moreover there are regex chars in there that are not escaped like `.`) instead of re-compiling 4 separate regexes every time this method is run?

_Originally posted by @lespea in https://github.com/microsoftgraph/msgraph-sdk-java-core/pull/65#discussion_r486405179_

[2020-09-11 21:21] baywet opened #71 "batch dependencies need to be in order"
If I have a batch with steps A B and C. B depends on A, C depends on B.
The batch needs to be serialized in a sequential way (A B C in this case) for AGS not to throw our batch back at us.

[2020-09-14 15:57] #71 closed

[2020-09-22 13:55] baywet commented on #75
note: also include the service library wiki

[2020-10-30 20:13] baywet opened #88 "It's worth testing this again with HTTP/2 with OkHttp 5.X"
It's worth testing this again with HTTP/2 with OkHttp 4.10.0-RC1

https://square.github.io/okhttp/changelog/#version-4100-rc1

_Originally posted by @yschimke in https://github.com/microsoftgraph/msgraph-sdk-java/pull/473#issuecomment-719752565_
[AB#7113](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7113)

[2020-11-10 16:56] talasj opened #85 "Java SDK - ClientCredentialProvider is throwing a certificate error during http request"
Posting a calendar event using ClientCredentialProvider is throwing a certificate error during http request. Am I missing any configuiration changes? Any help is appreciated.

ClientCredentialProvider authProvider = new ClientCredentialProvider("xxxx",
				Arrays.asList("https://graph.microsoft.com/.default"), "xxc", "aaa", NationalCloud.Global);
DefaultLogger logger = new DefaultLogger();

[2020-11-12 19:33] baywet opened #116 "enable 100% of the unit tests for v3"
Today most of the unit test are disabled because they make assumptions (usernames, ids, folder structure) and fail because of those assumptions.
To ship v3 with confidence we need to:
- [ ] clean up those tests from assumptions
- [ ] provision a test tenant
- [ ] update the pipeline so it runs those tests on every single pull request to get metrics
- [ ] establish a baseline
[AB#7126](https://micr

[2020-11-16 15:20] talasj commented on #85
Thank you for your reply Michael. I was able to resolve it by installing the intermediate certificate from https://docs.microsoft.com/en-us/microsoft-365/compliance/encryption-office-365-certificate-chains?view=o365-worldwide.

[2020-11-16 15:41] baywet commented on #85
Thanks for providing the solution to the issue, it'll be useful to others running into this.
Closing.

[2020-11-16 15:41] #85 closed

[2020-11-25 20:22] baywet commented on #36
added via #89

[2020-11-30 19:42] #66 closed

[2020-12-01 19:44] #36 closed

[2020-12-08 19:44] baywet opened #95 "improve telemetry to include android api level version"
It's currently really hard to determine which API level we should support as we don't have telemetry on that aspect for the SDK.
We should first [detect we're running on android](https://stackoverflow.com/questions/4519556/how-to-determine-if-my-app-is-running-on-android) and then read the [API level information](https://stackoverflow.com/a/3995388/3808675).
This information should be added in the

[2020-12-14 09:51] Lwinee opened #97 "How to open retry policy?"
It seems that the retry policy is a default setting, but when I applied the java SDK it didn't work. I wanna know if I should set the retry policy manually. If so, how to do it? I have tried hard but it still can't work. Thanks so much for your help!

[2020-12-14 14:27] baywet commented on #97
Hi @Lwinee
Thanks for reaching out.
I transferred your issue in the core repo as retry-handling is implemented here instead of the service library.
Could you be more specific about which kind of retry you are talking about?
Our [handler](https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/dev/src/main/java/com/microsoft/graph/httpcore/RetryHandler.java) only retries on transient HTTP erro

[2020-12-14 18:44] #95 closed

[2020-12-16 09:11] Lwinee commented on #97
Hi @baywet
I have solved the problem. I previously thought that every time it failed it will return HTTP errors. And later I found that after 3 retries if it still failed then it returned errors. That's why I thought the retry handler didn't work. Sorry to trouble you and wish that the notifications that include resource data(event) can release soon:)

[2020-12-16 14:55] baywet commented on #97
Hi @Lwinee
Thanks for the additional information. So if I'm reading this right, having a message letting you know the request what already retried would have helped clear the confusion? Or are you referring to something else?

[2020-12-18 08:26] Lwinee commented on #97
Yes, you are right. To be specific, After retries, if it still failed, the request returned an error code. But I mistakenly assumed that every failure would return an error code.

[2020-12-24 08:46] SayakMukhopadhyay opened #100 "What is the recommended way to authenticate to the API"
I am raising this issue here since I would like to know the status of the libraries and this seemed to me to be a good place as #42 is discussing this.

I want to use the Microsoft Graph API from my Spring based Java app and the official SDK is at https://github.com/microsoftgraph/msgraph-sdk-java. But I am unable to figure out how to authenticate to the API. Different source say different things:

[2020-12-29 13:30] baywet commented on #100
Hi @SayakMukhopadhyay
Thanks for asking this question, we recognize that the auth story for the Java SDK today is less than ideal and we're working to streamline it.

## Today

- Use msgraph-sdk-java-auth if you're building anything else than an android application. This lib doesn't use MSAL because it was created before MSAL. It uses `org.apache.oltu.oauth2.client` instead, a fairly popular stand

[2020-12-29 13:33] SayakMukhopadhyay commented on #100
Thanks for explaining. It helps a lot.

[2020-12-29 13:47] baywet commented on #97
I had a quick look at it. Due to the design of ok http interceptors, it doesn't seem possible to add additional information for failed attempts, or to add a different message when all the attempts failed, without modifying the response payload or throwing exceptions. The only thing I did was to update [the wiki page](https://github.com/microsoftgraph/msgraph-sdk-java-core/wiki) to add precisions a

[2020-12-29 13:47] #97 closed

[2020-12-30 22:16] #100 closed

[2021-01-14 11:40] Bangalor opened #113 "Custom HTTP client"
I'd like to use custom http client which is widely used in my application with msgraph client.

I took a look at IHttpProvider and found that is hard bound to OkHttp3 implementation:

[code]

Is there any other option for overriding http client used by msgraph client?
Any chance to remove mentions of OkHttp3 from interface?
[AB#7605](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-

[2021-01-15 15:26] baywet opened #106 "IHttpProvider should not contain an implementation specific type and should be generic instead"
IHttpProvider should not contain an implementation specific type and should be generic instead

_Originally posted by @baywet in https://github.com/microsoftgraph/msgraph-sdk-java/pull/463#r558379904_

[AB#7617](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7617)

[2021-01-21 19:26] baywet opened #111 "PageIterator support for java sdk"
Today the java SDK doesn't provide a iterator on page collections. This should be easy to provide in a further release. [more info](https://github.com/microsoftgraph/msgraph-sdk-design/blob/master/tasks/PageIteratorTask.md)
[AB#7704](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7704)

[2021-01-21 19:29] baywet opened #112 "large file upload resume"
today the core SDK doesn't support resuming large file uploads. [More info](https://github.com/microsoftgraph/microsoft-graph-docs/blob/main/concepts/sdks/large-file-upload.md#resuming-a-file-upload)
[AB#7705](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7705)
AB#undefined

[2021-01-21 21:24] baywet commented on #116
Update: moving to core repo as those tests have been moved.

[2021-01-21 21:34] tbelaire opened #117 "Feedback about how batch requests might work"
Just as a note, if you're redoing how this batch request works, I would find it much more useful if it didn't reference okhttp Requests, as I've already hooked up our own `IConnection` and `IHttpProvider`, and don't really want to use okhttp.

What would be ideal from my perspective would be a `CustomBatchRequest extends BaseRequest` with a method like public `JsonObject post(BatchRequest batchReq

[2021-01-22 06:06] Bangalor commented on #113
@baywet thanks for detailed clarification. I will follow the changes in the API here.

[2021-01-22 17:44] hosmanagic-axcient opened #118 "Remove rawObject from SDK's models"
(I was advised by @baywet to open an issue here. See https://github.com/microsoftgraph/msgraph-sdk-java/issues/545#issuecomment-765279385 and following comments for more context)

From what I know and can see at the moment, all SDK "entities" have a raw JSON objects attached to them, for example [this](https://github.com/microsoftgraph/msgraph-sdk-java/blob/d29fdc3a3be3d428d4c0cf78d8a1815dc1b53529

[2021-01-22 17:49] baywet commented on #118
@mairissi @darrelmiller this is a very interesting point @hosmanagic-axcient brings here (thanks for opening the issue).
As far as I can tell, we're actually only using that raw JSON at a few places for collections. And I think we should try to remove it given the memory impact.
Of course removing this would be a breaking change, so I think we should consider it for v3 even if that suggestion come

[2021-01-22 17:57] hosmanagic-axcient commented on #118
You're welcome!

IMHO, there can never be a need for the raw JSON. Each JSON field is simply mapped to Java field, and that's it. Simpler serialization, less memory used.

[2021-01-22 20:02] baywet commented on #75
done via https://github.com/microsoftgraph/msgraph-sdk-java/pull/621

[2021-01-22 20:02] #75 closed

[2021-01-22 20:30] #116 closed

[2021-01-25 13:56] baywet opened #119 "replace instances of printStackTrace by logger"
In the v2 there are only instances of `System.` in the samples, and `printStackTrace` in the batch handling + some of the interceptors.

I do agree that the logs should all go through the same APIs, not through separate path, so I'll open an issue in core to fix the irregularities and use the logging infrastructure.

_Originally posted by @baywet in https://github.com/microsoftgraph/msgraph-sdk-ja

[2021-01-25 16:17] baywet commented on #118
After discussing with @darrelmiller offline, we'll look into this for v3. Thanks for the suggestion

[2021-01-25 18:54] hosmanagic-axcient commented on #118
Thanks for the update!

[2021-01-25 21:18] baywet commented on #118
@hosmanagic-axcient I just authored #122 and a few pull requests. I'd appreciate if you could review those with the next few days. Thanks!

[2021-01-26 20:27] #119 closed

[2021-01-26 22:11] baywet commented on #124
Hi @ProRoman
Thanks for bringing to our attention the fact this was still defective.
The entities (the models) were indeed inheriting from their parents, and some cases were handled in deserialization, but not all cases.
I just authored #125 which fixes the issue for the scenarios that were missed.
Unfortunately it relies on some generic improvements that were made with v3 to work, so this fix wil

[2021-01-27 17:26] #118 closed

[2021-01-29 18:52] #124 closed

[2021-02-02 21:58] baywet commented on #117
@tbelaire here is a follow up on the suggestion. As I was working on #106 and #113 I realized this was kind of necessary to be able to complete the work. So I authored #129 to revamp the batches providing a leaner and more generic API. Please have a look and let us know what you think.

[2021-02-03 19:51] baywet opened #131 "Bintray is sunsetting - replace references to it and remove CD for it"
[Bintray is sunsetting in May](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/). The alternatives would be to:
- setup artifactory cloud on Azure
- setup artifactory on a VM
- setup [a feed on Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-maven?view=azure-devops)
- setup a feed on [github](https://github.com/features/packages)
-

[2021-02-03 20:27] baywet opened #132 "Update documentation when on-behalf-of flow is supported by azure identity"
currently OBO is not supported by azure-identity. There are plans to add support for it.
Whenever support is added [this page](https://docs.microsoft.com/en-us/graph/sdks/choose-authentication-providers?tabs=Java) needs to be updated

[2021-02-04 16:36] baywet commented on #88
additionally, AGS is rolling out HTTP/2 support. So this should be less of a problem for platform trying to connect with HTTP/2 first.

[2021-02-04 17:56] yschimke commented on #88
This specific bug fix is in 5.0.0-alpha1, should make next release. Any testing here would help us confirm the fix.

https://github.com/square/okhttp/blob/master/CHANGELOG.md#version-500-alpha1

[2021-02-04 18:22] baywet commented on #88
@yschimke  thanks for the additional information. Two questions:
- it seems to me the only reason why they major bumped is because of the dependency reorg, which should have a minimal impact on us. Is it your reading as well?
- Do you know what are the timelines for the release of v5?

[2021-02-04 18:43] yschimke commented on #88
Yep, we will be making sure it's binary compatible forwards (from 3.12) and backwards (to 4.9), excluding anything listed as new API.  5.0.0 is basically 4.10. But it does reorg mockwebserver dependencies while remaining compatible, and expand the Okio functionality (new file system API).  We also expanded to commit to supporting GraalVM as a platform.

Not sure about timelines, basically when it'

[2021-02-04 19:29] baywet commented on #88
great! thanks for the insights @yschimke !! So far the upgrade path should be straightforward for us then as we implemented our own mocks without relying on mockwebserver.
We also have "-ish" timelines here, on the same page in terms of expectations 😉

[2021-02-04 20:33] tbelaire commented on #106
I really would like this, as I'm trying to run this with no dependency on okhttp.

[2021-02-04 20:38] tbelaire commented on #113
I'm very successfully using `1.4.0` with a custom `IConnectionFactory` but the `DefaultHttpProvider`.  Works pretty well.

I'm trying to stay update to a newer version, but I really don't want to have a okhttp dependency.

[2021-02-05 06:12] milapshahot opened #138 "Response body not closed in redirect handler when downloading content from sharepoint"
### Exception
Caused by: java.lang.IllegalStateException: null
        at okhttp3.internal.connection.Transmitter.prepareToConnect(Transmitter.java:129)
        at okhttp3.internal.http.RetryAndFollowUpInterceptor.intercept(RetryAndFollowUpInterceptor.java:79)
        at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:142)
        at okhttp3.internal.http.RealIntercept

[2021-02-05 21:10] baywet commented on #106
Hi @tbelaire
Thanks for the additional feedback.
I was already working on this as you were posting this message and I just authored #134 which should decorrelate the interfaces/models/domain requests from the native http request types. Allowing customers to implement their own http provider with another http client if they'd like to do so. That improvement should be included in the v3 preview for

[2021-02-05 21:11] baywet commented on #113
Hi everyone,
Thanks for the additional feedback.
I just authored #134 which should decorrelate the interfaces/models/domain requests from the native http request types. Allowing customers to implement their own http provider with another http client if they'd like to do so. That improvement should be included in the v3 preview for you to try when the pull requests get merged.
If you could have a l

[2021-02-05 21:17] baywet commented on #76
Hi everyone,
Thanks for the feedback and thanks for the patience on the matter.
Now that we've made good progress on cleaning the code base and moving what didn't belong in the service (generated) library to this core (manually handcrafted) library, we should be able to re-evaluate this.
Before we do so, could you please provide additional feedback on which types/methods should be tagged as intern

[2021-02-08 14:06] #117 closed

[2021-02-08 21:44] baywet commented on #138
To follow up on the fix. I just authored #139 which fixes this issue and will close it once merged. It'll go out with core version 1.0.8.
The [following](https://stackoverflow.com/questions/53174768/transfer-encoding-chunked-with-okhttp-only-delivers-full-result) stack overflow discussion put me on the path of understanding that responses are kept open with chunk encoding for interceptors. And tha

[2021-02-09 13:10] Bangalor commented on #113
Hi @baywet,

Do you have any thoughts moving OkHttp-specific implementation to other component? This will allow to import only required dependencies without exclusion OkHttp from classpath?

[2021-02-09 13:13] baywet commented on #113
Hi @Bangalor
By components, do you mean another library?

[2021-02-09 16:28] Bangalor commented on #113
Yep, It's what I mean. The library that decouples OkHttp and core.

[2021-02-09 17:25] baywet commented on #113
no, that's not in our plans at the moment. the idea of the PRs I submitted was to correct course on a dependency that was too strong on okhttp and made it close to impossible to implement with another http library. When those PRs get merged, it'll be possible to to that again, but we're not looking at having a completely abstracted core library on one hand and an implementation library with ok htt

[2021-02-09 18:04] #138 closed

[2021-02-09 21:15] baywet commented on #131
TODO:
- [ ] add CI/CD for android-auth + cleanup bintray + publish latest on sonatype snapshots
- [ ] remove java-auth from central or publish 0.3.0

[2021-02-10 08:27] davidmoten commented on #76
I'll leave it to you @baywet.

[2021-02-10 13:46] #113 closed

[2021-02-10 13:46] #106 closed

[2021-02-11 20:58] #131 closed

[2021-02-11 21:10] baywet opened #148 "this repo lacks a linting tool"
linting tools allow developers to follow best practices, stay up to date in code standards and write code in a consistent manner.
v2 already adds a linting project for the android API level to make sure we don't take advantage of APIs that are not available. It also lints for other things like javadoc comments, nullability annotations, etc..

However this is far from being enough. A proper linting

[2021-02-18 12:34] valenpo opened #156 "v3.0.0 getNextPage on multiple page request always null"
When I do multipage request (set top(1)) I can't get next page for next request. Next page is always null.

### Expected behavior
Should return next page request

### Actual behavior

Return null for next page request

### Steps to reproduce the behavior

Setup demo O365 with test data and list all users

[code]

[AB#8198](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3

[2021-02-18 15:01] baywet commented on #156
Hi @valenpo
Thanks for trying the v3 and reporting this issue.
It seems that #125 introduced this regression, never deserializing the next link. Because it was always null, the request builder was never instantiating a new request builder for the next page request when building the collection page.
I put together #157 which addresses the issue, once it gets merge, it'll close this issue.

[2021-02-18 21:09] #156 closed

[2021-02-24 13:11] baywet opened #159 "Align large file upload task on new spec"
see changes in https://github.com/microsoftgraph/msgraph-sdk-design/pull/42
[AB#8285](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/8285)

[2021-02-26 15:23] raneaaditya98 opened #160 "RetryHandler does not retry in case of 429 error"
### Issue Class : com.microsoft.graph.httpcore.RetryHandler

When graph endpoint for adding tabs POST: /tabs gives throttling (429) error. When RetryHandler calls retryRequest it checks for isBuffered where it requires header Transfer-Encoding as Chunked, in order to send True and to set shouldRetry flag as True.

### Expected behavior
This "Transfer-Encoding = Chunked" header missing case should

[2021-03-01 20:35] baywet commented on #160
Hi @raneaaditya98
Thanks for reaching out.
I believe this is a bug, if we [look at the retry handler](https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/dev/src/main/java/com/microsoft/graph/httpcore/RetryHandler.java#L125) it should be looking at the request content, not the response content to determine whether this is a buffered (and replayable) request as it [dotnet counter part sugg

[2021-03-02 17:37] baywet commented on #160
update: I've just authored #163 which addresses the issue and will close it once it's merged.

[2021-03-02 18:00] #159 closed

[2021-03-02 21:08] #160 closed

[2021-03-15 17:51] #45 closed

[2021-03-18 10:40] DevWantJustHaveFun opened #174 "Where is the batching documentation ?"
In the Readme, there is a link to the "batching" => https://github.com/microsoftgraph/msgraph-sdk-java-core/wiki/Batching
But it's seems this link going nowhere.

I try to find an example on how to use batch request with graph sdk java without using okhttp
[AB#8650](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/8650)

[2021-03-18 12:20] baywet commented on #174
Hi @DevWantJustHaveFun
Thanks for bringing this broken link to our attention. I just authored #175 which fixes this issue and will close it once it's merged.
The official documentation for batches with the SDKs is located [here](https://docs.microsoft.com/en-us/graph/sdks/batch-requests?tabs=java). The latest changes for the new v3 API (c2 for core) haven't been deployed to the website yet, so I s

[2021-03-18 16:41] #174 closed

[2021-04-01 00:52] baywet opened #178 "Canary url is missing in the authentication provider"
https://www.github.com/microsoftgraph/msgraph-sdk-java-core/tree/dev/src%2Fmain%2Fjava%2Fcom%2Fmicrosoft%2Fgraph%2Fauthentication%2FBaseAuthenticationProvider.java

https://github.com/microsoftgraph/msgraph-sdk-javascript/pull/413

[2021-04-05 04:17] Asky-GH opened #181 "Impossible to configure the Microsoft Graph SDK client with custom 'maxRetries' and 'delay' options"
Guided by this section of your [documentation](https://docs.microsoft.com/en-us/graph/sdks/customize-client?context=graph%2Fapi%2F1.0&view=graph-rest-1.0&tabs=java) I tried to customize the client by adding a **RetryHandler** with my own **RetryOptions** like so:
[code]
but it didn't work out and default values for **maxRetries** and **delay** were used. Whereas setting them on each request throug

[2021-04-06 06:45] ProRoman opened #182 "Upload large files using sdk v3 failed"
Hi

After migrating to sdk v3 I get "Upload session failed" for large files.

After debugging I found that the upload session is completed without error

com.microsoft.graph.tasks.LargeFileUploadResponseHandler#generateResult

[code]
But com.microsoft.graph.tasks.LargeFileUploadRequest#upload failed because the upload response contains only the location and result.chunkCompleted() is false

[code]

[2021-04-06 13:36] baywet commented on #181
Hi @Asky-GH
Thanks for reaching out and for the detailed explanation.
Is this something you'd be willing to submit a pull request for?

[2021-04-06 14:09] Asky-GH commented on #181
Hi @baywet
I'd be happy but I'm not sure if my solution would be correct. The first thing that comes to my mind is to remove this check from the constructor:
[code]
and simply assign **shouldRetry** to **this.mShouldretry** instead.

[2021-04-06 14:18] baywet commented on #181
sorry about the confusion, I re-read the thread I think we actually should default the should retry in the constructor (like it's done today, but maybe invert the condition).

however the http provider probably needs to be fixed to stop overriding things when they are already provided.

[2021-04-06 14:50] Asky-GH commented on #181
And what if instead of these lines of code in CoreHttpProvider's getHttpRequest() method:
[code]
_line 240_
and
[code]
_line 248_
add something like this:
[code]

[2021-04-07 07:23] ProRoman commented on #182
@baywet Looks like adding uploadCompleted should resolve the issue

`if (result != null && (result.chunkCompleted() || result.uploadCompleted())) {`

[2021-04-07 13:09] baywet commented on #182
@ProRoman Thanks for reaching out and for the additional information. I haven't had time to look into it yet. Would you be willing to send a pull request?

[2021-04-07 13:42] baywet commented on #181
the logic that should be applied is the following:
1. If retry options are provided for the request, use them by passing those options to the handler using the tagging mechanism, otherwise pass nothing
2. If retry options are found in the handler via the tag use that, otherwise use the retry options passed to the handler when initialized.
3. Rely on default values for the retry options when nothin

[2021-04-12 09:06] ProRoman commented on #182
Yep I will try. Sorry for late response

[2021-04-12 19:52] lespea opened #186 "Ability to close the http client"
### Expected behavior

Ability to properly close the HTTP client

### Actual behavior

No methods exist to close the httpClient inside of a BaseClient object (at least that I can see) and there is no way to get access to the client yourself to close it.  This existed in version 2.x and is needed to not leak memory if multiple instances are brought up/down over the application lifetime.

### Steps

[2021-04-12 20:32] baywet commented on #186
Hi @lespea,
Thanks for reaching out.
I'm not sure I understand what object you want to close specifically, are you referring to the OkhttpClient? If it's the case, [it does not](https://square.github.io/okhttp/4.x/okhttp/okhttp3/-ok-http-client/) implement [closeable](https://docs.oracle.com/javase/8/docs/api/java/io/Closeable.html).

Can you share more details about what you think is missing and/

[2021-04-12 20:38] lespea commented on #186
Huh you're right I was going too fast and saw the cache close and read it as closing the client.  Sorry for the unnecessary issue.  Finally porting my library to v3...

[2021-04-12 20:38] #186 closed

[2021-04-13 16:55] #178 closed

[2021-04-13 19:40] #182 closed

[2021-04-14 14:42] #181 closed

[2021-04-14 16:36] juanmarques opened #191 "ItemWithPath fails in latest core (2.0.0)"
Hi team,

I have a method where I get DriveItem with path and I'm getting errors from the request when I have the **#** special character.

So if I encode that character it works , please see the following details.

[code]

Without the Fix
[code]

With the Fix
`GET https://graph.microsoft.com/v1.0/sites/myTest.sharepoint.com,8eb0793b-bd2c-4c55-9f89-c50344d812a6,074d4c88-f1e2-4815-9664-f250b3660685

[2021-04-30 12:38] baywet opened #194 "This library should depend on azure core and not azure identity"
This would make the overall application much leaner for people who aren't using azure identity without requiring them to add exclusion.
It's a potential breaking change as people who didn't take a direct dependency on azure identity will get it pulled from the project context when updating, but the remedy is simple: add a direct reference to azure identity in your project configuration if you're u

[2021-05-06 07:57] hreiten opened #196 "Bug in deltaLink regex pattern to get deltaToken"
### Expected behavior
A request to the delta API with non-empty deltaLink provided should return users modified as per the deltaToken in the link.

UserDeltaCollectionRequest.deltaLink(deltaLink) should add the deltaToken to the request.

BaseDeltaCollectionRequest.getDeltaTokenFromLink(deltaLink) should return `abc` from the string `https://graph.microsoft.com/v1.0/users/microsoft.graph.delta?$de

[2021-05-07 08:05] baywet commented on #196
Hi @hreiten,
Thanks for reaching out.
You are right, the regex that's currently in the code is invalid. I'm not sure how it got there.
Would you be willing to submit a pull request to correct that issue?

[2021-05-10 09:33] baywet commented on #196
I've just authored #197 which fixes this issue. Thanks for letting us know!

[2021-05-10 15:16] #194 closed

[2021-05-11 17:26] bond- opened #203 "Graph SDK doesn't add HeaderOptions to nextpage"
### Expected behavior
`users.getNextPage().buildRequest().get()` should encode braces and not throw an exception.

### Actual behavior
`userCollectionPage.getNextPage().buildRequest().get()` throws GraphServiceException because it wasn't able to encode '(' and ')' used with operator `startsWith` and `endsWith`. The first call seems to encode correctly but fails for the next page.

Error headers:
[

[2021-05-12 07:29] baywet commented on #203
Hi @bond-
Thanks for reaching out.
Can you provide the URLs of both requests in the repro snippet please?
(instead of .get(), .getHttpRequest().getUrl().toString())
Thanks!

[2021-05-12 15:14] bond- commented on #203
@baywet The snippet you provided ends up in a NullPointerException

I instead placed a debug point in the Screenshot below:
![image](https://user-images.githubusercontent.com/776647/117999084-8198f380-b312-11eb-9977-d95346c4f6b3.png)

Following are obfuscated: <userextension>, <someParam>, <uuid>. If you'd like to know what those are, I would need some sort of a secure channel.

First request:
```

[2021-05-12 15:49] bond- commented on #203
CC: @joeyenfield-verint, @ABobaev

[2021-05-13 21:21] joshfree commented on #132
Tagging @christothes to update this issue once an Azure.Identity beta release has shipped with this functionality

[2021-05-16 19:26] bond- commented on #203
Hey @baywet you need to update the labels

[2021-05-17 10:14] baywet commented on #203
@bond-
Thanks for the additional information.
Sorry about the bot's activity, I was on vacation and it appears to be badly configured (triggering the no recent activity too early). @ddyett can you have a look at the bot configuration please?

The problem doesn't seem to be caused by the encoding of query parameters but because the "ConsistencyLevel:eventual" request header is missing.

Can you try

[2021-05-17 10:22] bond- commented on #203
@baywet if you see my initial description ConsistencyLevel header is already present, if that were absent both requests will fail.

But in the bug only the nextpage request fails, if you do the same in postman it works but not here. Earlier we had 2.8.0 where both requests would fail no matter what. After upgrading to 3.3.0 the initial request works but not the nextpage.

[2021-05-17 10:25] baywet commented on #203
@bond- I understand that, my thinking is the following: you added the header for the initial request, it works. But the SDK doesn't add it to the next page request for some reason, it fails. If you manually add it again to the next page request, it should work. I'm trying to validate this theory. Please try it and report the result.

[2021-05-17 10:34] bond- commented on #203
@baywet I did check that part by placing a debug point in the builder call of the nextpage, the sdk was passing it along. I can show you a screenshot in a bit.

[2021-05-17 11:56] bond- commented on #203
@baywet I take back my previous comment, you are right about the header option. So is it a bug or a change in documentation is needed?

This works
[code]

[2021-05-17 13:36] baywet commented on #203
Thanks for confirming!
I don't believe the get next page method should automatically carry over the request headers from the previous request. It's a slippery slope that could lead to bad behaviors from the SDK. @darrelmiller to weight in on this one.
The query parameters are carried over as the SDK is simply using the URL that's being returned by the service (odata next link) as is.
Should we add

[2021-05-17 15:13] jasonjoh commented on #203
To clarify you mean that the `ConsistencyLevel` header has to be added, right? It's always been the case that you have to re-add headers, and I think I agree with @baywet that the SDK shouldn't carry over previous request headers, but it would be cool if the page iterator allowed you to provide headers that should be included with each subsequent request.

[2021-05-17 15:16] darrelmiller commented on #203
@jasonjoh @baywet That's what the requestConfigurator function does https://github.com/microsoftgraph/msgraph-sdk-dotnet/blob/dev/src/Microsoft.Graph/Tasks/PageIterator.cs#L46

[2021-05-17 15:17] baywet commented on #203
yes I do. There's no iterator support in Java today, consumers have to call the getNextPage method in a loop, this allows them to specify the headers for each request. Let's table that as a feature request for now.
For the current situation do you think it'd be worthwhile to add a note on the paging doc page to say that any header as to be added for each request for java @jasonjoh ?

[2021-05-17 15:17] baywet commented on #203
FYI page iterator support is here #111

[2021-05-17 15:22] jasonjoh commented on #203
Yes it should be mentioned in the docs. Opened https://github.com/microsoftgraph/microsoft-graph-docs/issues/12746

[2021-05-17 22:56] Licantrop0 commented on #203
@jasonjoh ack. @FaithOmbongi is working on a conceptual document for Mezzo. Will make sure this is mentioned as well.

[2021-05-20 08:31] samrajcse opened #209 "Unable to change the loglevel for graph sdk"
Hi Team,

I have enabled the DEBUG log using below code to debug the below error message:

Error message: Invalid batch payload format.

POST https://graph.microsoft.com/v1.0/$batch
SdkVersion : graph-java/v3.5.0
[...]

400 : Bad Request
[...]

[Some information was truncated for brevity, enable debug logging for more details]

Now I have enabled the debug mode using below code,
GraphServiceClient

[2021-05-20 09:42] ProRoman opened #213 "@Nullable message fields"
Hi

After moving to the sdk 3.x I noticied that all message fields are marked as @Nullable

I believe that it is not valid for some fields for example message.id (sender/from, to also) because at the same time the sdk requires @Nonnull id in all requests to the API.

What do you think?
[AB#9534](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/9534)

[2021-05-25 07:00] #203 closed

[2021-05-26 15:38] baywet commented on #213
I just authored #214 which fixes this issue and will close it once it gets merged.

[2021-05-26 16:38] #213 closed

[2021-05-26 16:57] baywet commented on #209
Hi @samrajcse
After giving it another thought I realized there's a way to get the current log level.
I've authored #215 which fixes this issue and will close it once it gets merged.

[2021-05-26 23:22] #209 closed

[2021-06-01 14:12] steffen-harbich-cognitum opened #217 "Serialization of TimeOfDay in update mailboxSettings.workingHours.startTime"
Greetings! I tried to update the user `mailboxSetting.workingHours.startTime` but ended up with an error. See also https://github.com/microsoftgraph/msgraph-sdk-java/issues/168#issuecomment-852027168.

Code:
[code]

### Expected behavior

The update should be working as the mailboxSettings in general can be updated (other fields update successful).
See also: https://docs.microsoft.com/en-us/graph/

[2021-06-01 18:50] baywet commented on #217
Hi @steffen-harbich-cognitum
Thanks for reporting this issue.
I just authored #219 which fixes it and will close the issue once merged.
This will go out with version 2.0.4, probably some time next week.

[2021-06-01 19:48] #148 closed

[2021-06-01 22:29] #217 closed

[2021-06-02 10:30] baywet commented on #132
Right now the workaround is to implement a custom auth provider using msal https://stackoverflow.com/questions/67776204/microsoft-graph-java-sdk-and-msal4j-how-to-obtain-an-onbehalfof-provider-to-ini

[2021-06-02 10:31] baywet commented on #132
@joshfree @christothes any update on this? Thanks!

[2021-06-02 13:10] christothes commented on #132
We are targeting something in the next couple months.

[2021-06-10 12:24] ivanmaria opened #230 "BatchRequestContent does not serialize data set via AdditionalDataManager"
I am trying to add an application to Teams using msgraph-sdk-java v3.7.0.
I am unable to call "POST /teams/{team-id}/installedApps" using BatchRequestContent as it fails with the following error "The navigation bind for the teamsApp was missing in request."  However, it works well when I use it without batching or via Postman.

I tried debugging and found that any data set via AdditionalDataManage

[2021-06-10 12:34] baywet commented on #230
Hey @ivanmaria ,
Thanks for reaching out.
Can you share the body of the `getAddAppToTeamsRequest` method please?

[2021-06-10 12:54] ivanmaria commented on #230
Hi @baywet,

getAddAppToTeamsRequest represents the following snippet

[code]

[2021-06-11 18:58] baywet commented on #230
Hi @ivanmaria
Thanks for the additional information.
I have authored PR #232 which fixes this issue. It'll go out once it's merged with version 2.0.5 of the core library.

[2021-06-11 19:02] #230 closed

[2021-06-14 07:09] ivanmaria commented on #230
Hi @baywet,

Thanks for taking it up. What is the ETA for this release?

[2021-06-14 12:01] baywet commented on #230
once #236 gets merged it'll be released. We're talking about a few days maximum. Depending on how fast this pull request gets reviewed by another team member. (we have several people on vacations)

[2021-06-15 18:19] baywet opened #239 "additional data manager serialization tests need to move here"
#232 caused a regression fixed by #237.
This was ultimately caused by the fact some unit tests are located in the service library when they should be here. Namely [the additional data manager unit tests](https://github.com/microsoftgraph/msgraph-sdk-java/blob/dev/src/test/java/com/microsoft/graph/serialization/AdditionalDataTests.java) (and maybe all the tests in the same folder).

Having earlier,

[2021-06-20 13:11] SivaTharun commented on #239
@baywet can i work on this issue.

[2021-06-20 16:21] baywet commented on #239
Sure go ahead! Thanks for contributing and let me know if you have any question.

[2021-07-08 14:11] PrimosK opened #248 "EventMessageDetail - downcasting never kicks in"
I was looking through Microsoft Graph beta endpoint reference but couldn't find answer to my question.

It relates to:
[com.microsoft.graph.models.EventMessageDetail](https://github.com/microsoftgraph/msgraph-beta-sdk-java/blob/0.9.0-20210615.3/src/main/java/com/microsoft/graph/models/EventMessageDetail.java)
... and classes that extends this class:
[code]

I was expecting for something like this

[2021-07-12 22:37] joshfree commented on #132
@baywet we should have an August beta release of Azure Identity with OBO support.  Would you be the best person from Graph to give us beta feedback next month?

[2021-07-13 12:58] baywet commented on #132
@joshfree yes I'd be the point of contact for Java, and this is the best place to let me know. If you're adding OBO in other languages, don't hesitate to create issues in the respective repositories, the rest of the team will pick it up. From what I can see from the links here are the repos where you want to create issues:
- https://github.com/microsoftgraph/msgraph-sdk-python-core
- https://githu

[2021-07-13 19:02] baywet commented on #248
WIP with #249

[2021-07-20 14:07] baywet opened #252 "Android api level < 26 support"
The goal of this issue is to investigate ways to support Android API level < 26 (current requirement for core 2.X and sdk 3/4).

SDK users: please like (and subscribe to get notified of progress) this issue. This will allow us to gage the interest of the community for this work. Don't hesitate to engage in the conversation either.

The current SDK requires API level >= 26 mostly because of the dow

[2021-07-20 14:14] baywet commented on #252
Some additional context on the CompletableFuture choice https://github.com/microsoftgraph/msgraph-sdk-java/issues/533

[2021-07-20 19:39] baywet opened #253 "migrate to the microsoft graph ADO org"
# Summary

We've had our CI and CD on Azure DevOps for a while now. But it leaves on the wrong tenant from an organization perspective.

# Todo

(only for the core, v1 and beta repos, we don't need the -auth packages anymore)

- [x] convert the existing build pipeline to YAML (the build and publish, not the pr validate, this is already done for core I believe)
- [x] commit the pipeline to the repo

[2021-07-22 02:52] perqin commented on #252
On `CompletableFuture` before API 26:

`CompletableFuture` is added to Android SDK on API 24, which is used in msgraph-sdk-java-core v2 (for reference, [an example of usage](https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/5a4a79ff033a297831dc41d73889dfb84172ad02/src/main/java/com/microsoft/graph/authentication/IAuthenticationProvider.java#L19)).

AGP 4.0.0+ offers Java 8+ API desugari

[2021-07-26 22:49] #248 closed

[2021-08-03 18:06] ddellsperger opened #256 "Add support to serializeNulls in the DefaultSerializer/GSONFactory"
We're currently in the progress of migrating from the 2.x graph-sdk-java to the 4.x branch of the graph-sdk-java, but the changes that we're seeing mostly are impacted by the serializer in the graph-sdk-java-core here.  We previously used the raw JSON object data that was stored in the `IJsonBackedObject` implementation classes to get the exact response from the rest call.  This provided us with a

[2021-08-03 19:52] baywet commented on #256
Hey @ddellsperger
Thanks for reaching out.
So if I'm understanding things right, you'd like for the serializer to result with
[code]
when you do serialize a model with `myModel.additionalDataManager().put("propA", null);`
Or did I misunderstand something?

[2021-08-03 20:04] ddellsperger commented on #256
So, there's a few, if I look at the [First Example](https://docs.microsoft.com/en-us/graph/api/chatmessage-post?view=graph-rest-1.0&tabs=http#examples) for the Send chatMessage API, the response provided by the API is as follows:

[code]

When this runs through the `DefaultSerializer` we get the following output:

[code]
You'll notice that the `subject`, `summary`, `chatId`, `lastEditedDate`, `del

[2021-08-04 12:14] baywet commented on #256
Thank you for all this additional information, this is really valuable. Before we dive into putting a PR together I want to understand the problem better so we can come up with a clear solution and avoid wasting your time.

Is behavior this limited to things related to identityset? we have a global ongoing effort to fix those on the service side. Basically a lot of services used the generic identi

[2021-08-04 13:08] ddellsperger commented on #256
There are a few others that do this (at least return the nulls in the API and then due to the serializer behavior remove them in the JSON serialization), We've started with migrating our teams-specific API and are still working with some of the e-mail apis and onedrive apis, but from Teams, I have seen the following:
* Example 2 and 3 in the [Create Channel Response](https://docs.microsoft.com/en-

[2021-08-04 13:31] baywet commented on #256
Can you expand on the current logic with v2 service library?
Right now property X is null (java object), so your app uses the get raw object, looks for property X, and check whether there's a null entry for it. What happens if there's an entry? what happens if there isn't?

[2021-08-04 13:37] ddellsperger commented on #256
We actually currently call `getRawObjects().toString()` which gives us the String json representation of the response (it's a one-to-one mapping response from the internal API call), we then use Jackson to convert that to a `Map<String, Object>` which gives us internal jackson transmissibility to our downstream consumers.  That, in essence relied far more heavily on the specific response coming fr

[2021-08-04 13:42] baywet commented on #256
oh wow, that's actually a niche scenario, your app is actually acting as a proxy. In which case, why does your app need to get high level deserialized objects instead of the JSON payload directly? This deserialization/serialization sequence surely adds a lot of overhead.
And still, why do the consumers need the null values at all?

[2021-08-04 14:28] ddellsperger commented on #256
This is mostly due to the need for consistency, if one example has a value for a field, our consumers assume that field will always be available (this has been the case for us with the v2 api for us. With the v3+ api the structure of the response may change with each reply depending on which properties are non-null or included in the Java Object implementation, specifically (see `conversation` in

[2021-08-04 14:44] baywet commented on #256
So you'd be interested in getting all the null values from the object tree, not just the ones provided be the API originally?

[2021-08-04 14:53] ddellsperger commented on #256
I would prefer only those that the API reports back, but all nulls would be better than a non-deterministic (at least without knowledge of Java implementation) subset of them.

[2021-08-04 15:17] baywet commented on #256
I do think trying to track just the ones the API reports will lead to breaking changes (properties in generated types will need to capture the difference between nil, doesn't have any value, and null, value was set to null in the payload), and that'd also have a lot of trickle down impacts (additional data manager...).

Having an option to serialize all null values as json null seems like a reason

[2021-08-04 16:46] baywet commented on #256
also: I just heard back from the Microsoft Teams product team, the conversation property here was present in an older version of the API and has been removed. They are working on updating the samples in the documentation.

[2021-08-05 22:42] #256 closed

[2021-08-16 19:55] #253 closed

[2021-08-16 20:16] ddyett opened #266 "Preview a new version with Kiota service library implementation"
Deliver a new SDK version using Kiota
[AB#10707](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/10707)

[2021-08-16 21:28] maisarissi commented on #76
Hello everyone.
I know that issue has been open for a while in this repo and  that it took us some time to evaluate this proposal. I'm sorry about that and we really appreciate your feedback on the matter.
Our plan is to have a new SDK generated by [Kiota](https://github.com/microsoft/kiota) this year. This will provide us a way to reduce the complexity of the SDK, removing part of the code we hav

[2021-08-16 21:28] #76 closed

[2021-08-17 13:42] baywet opened #271 "Improved support for oData type"
Support has reached out internally stating that some customers need to set the odata type by hand in some cases (creation, update, when a property is of a parent type) or the service won't use the proper target type/fail.

The dotnet sdk [had to perform a similar fix recently](https://github.com/microsoftgraph/MSGraph-SDK-Code-Generator/pull/534)

A couple of changes must be done in:
- [ ] the gen

[2021-08-24 12:14] baywet opened #289 "skip artifacts publish on PRs"
We [keep hitting the ADO artefacts storage limit](https://microsoftgraph.visualstudio.com/Graph%20Developer%20Experiences/_build/results?buildId=54818&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=82bdd7ee-477c-57ce-c22f-e3c2a72854b8) with our builds. And this is making PRs validation fail.

A solution to decrease consumption of the storage quota would be to skip publishing artefacts on pull

[2021-08-25 11:49] #289 closed

[2021-08-30 16:31] valenpo opened #300 "DefaultSerializer can't unit class."
MS return JSON "@odata.type":"#Microsoft.Graph.Message" in some messages, and conversion to proper package class will fail. It is not on DefaultSerializer.

Package name should be lowercase.

[code]

[code]
[AB#10928](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/10928)

[2021-08-30 17:13] baywet commented on #300
Hi @valenpo
Thanks for reaching out.
I just transferred your issue into the core repo where it's most likely to be fixed.
This issue sounds legitimate, I'm not sure why the service behavior would vary but the SDK should account for that.
Would you be willing to submit a pull request to address this?

[2021-08-30 18:08] valenpo commented on #300
Yup.

Do it tomorrow morning

Thanks

[2021-08-31 17:29] #300 closed

[2021-08-31 17:35] ramsessanchez opened #304 "Pipeline Migration to GitHub Actions"
Currently, the AzureDevOps pipeline are having issues with triggered builds. This is causing a backup in out CI/CD process and thus will need to be moved to GitHub Actions. In doing so we hope to get ahead of the curve as far as migration away from ADO and towards GitHub as well as improving the automation for our deployment pipelines.

[AB#10961](https://microsoftgraph.visualstudio.com/0985d294-5

[2021-09-06 13:25] valenpo commented on #300
when are you planning to release? This is a critical bug.

[2021-09-06 19:53] baywet commented on #300
Hey @valenpo I'll reply on the pr in a few seconds

[2021-09-09 06:51] valenpo opened #309 "wrong handled interrupted exceptions"
[code]

should set interrupted flag

[code]

[2021-09-10 11:51] #304 closed

[2021-09-14 15:04] baywet commented on #309
Closing as we're about to release this one.

[2021-09-14 15:04] #309 closed

[2021-09-15 14:23] ddyett opened #323 "Develop Kiota Core integrated with Graph Core"

[2021-09-15 18:51] baywet commented on #323
https://github.com/microsoft/kiota/issues/362
https://github.com/microsoft/kiota/issues/357

[2021-09-17 22:11] ramsessanchez commented on #309
Hi @valenpo, apologies for the long delay, migrating to GitHub actions caused more blockers than anticipated. The good news is we have officially pushed 2.0.9. Thanks for your patience as well as your contributions to this milestone, it's all very much appreciated!

[2021-09-20 07:48] valenpo commented on #309
Hi @ramsessanchez, thank you! I'm create pull request msgraph-sdk-java upgrade microsoft-graph-core  2.0.8 -> 2.0.9

[2021-10-03 21:02] oprobst88 opened #343 "Stop Get Request"
Dear MS Graph Team

Thanks for this awesome lib. I really enjoy working with it. I have a question w.r.t. GET requests. I try to do something like that:

[code]

The user is able to cancel a request using a cancel button in the GUI. Clicking on Cancel will throw a `ProcessCanceledException` when checking for it through `checkCanceled`. If the user now tries to do the request again it ends in a `co

[2021-10-04 12:45] baywet commented on #343
Hi @oprobst88,
Thanks for reaching out and thanks for the compliments, always appreciated :)
I have transferred your issue to the core repo, where most of the components it refers to live.
This question has multiple layers to it, I'll do my best to recap things clearly. I'm also assuming you're on the latest version of the java SDK, core, and azure identity at the time of writing.
I'm also going t

[2021-10-05 07:00] oprobst88 commented on #343
Thanks for the quick reply and your comments on my report. So just to be sure: it is a bug not a faulty use of the API in my code, right?

I don't know if I am qualified enough to fix the problem, but I can give it a try. I am not sure what you mean by

What about the first argument in the wrapper class:

[code]

?

What do you mean by

?

Thanks a lot.

[2021-10-05 12:01] baywet commented on #343
It does look like a bug in the core library to me indeed.

No worries, give it a try and after some time if this is too hard for you, let us know.

OkHttpClient.newCall(request) returns a "call" object, that represents the request being executed.

This on failure event maps the failures in the other direction. I.e. if the call (request being made by OkHttp) fails (network issue, etc...) it'll mark

[2021-10-14 16:22] juanmarques opened #347 "Connection issues"
Hi Graph Team,
I have recently noticed some slow down my developed backed processes, where I have a quartz scheduler that keeps monitoring the Sharepoint list from time to time.

I enabled the debugs level, and I could see the following message: it stays for 2-4 minutes, then it recovers and continues to process.

Libraries:

Thanks a lot!
Juan Marques

[2021-10-18 11:15] SabbitRex opened #350 "Return all user from a particular b2c directory in List<User>"
I am trying to retrieve all the users from a particular directory. So far I have 834 users in that directory and I tried below code to get all the users at once...

[code]
I realized that above piece of code is only fetching 100 users and upon further studying I understood that there is a limitation set by default on this API to fetch only 100 users i.e. the first page is having 100 users in no pa

[2021-10-18 12:28] juanmarques opened #351 "Netty - Spec. Rule 2.12"
Hey Team,

Recently I bumped the graph libraries to the latest version, and I am starting to face some issues.
Is there a needed to use netty instead of tomcat?

Besides the connections issue mentioned on [#347](https://github.com/microsoftgraph/msgraph-sdk-java-core/issues/347) I also faced the following error and seemed related to the netty component.

`18 Oct 2021 14:22:33,188 DEBUG [ForkJoinPo

[2021-10-18 12:37] SabbitRex commented on #350
Apologies for mentioning name, I will avoid this from next time...

[code]
This is my code, in Java...

So inside while I am checking if next page is not null, enter loop get all data from current page and then move pointer to next page so when it hit while again, I have a new page to look at...

users = users.getNextPage().buildRequest().get(); //I think this is what you have been trying to tell

[2021-10-18 12:39] SabbitRex commented on #350
also getNextPage() has a different return type - which is UserCollectionRequestBuilder

[2021-10-18 14:04] #351 closed, assigned to baywet

[2021-10-18 15:54] SabbitRex commented on #350
This is imagine from portal.azure...
![image](https://user-images.githubusercontent.com/29224909/137765236-160d5386-0271-4840-8fd2-0f693fad2471.png)

and below is the value coming from api...
![image](https://user-images.githubusercontent.com/29224909/137766177-d0cc3212-430e-4fd6-a3af-b4a6f1b202b7.png)

[2021-10-18 15:55] SabbitRex commented on #350
If this is not known and this is an issue...I can open a new issue...

[2021-10-18 17:37] #347 closed

[2021-10-18 19:52] #350 closed, assigned to baywet

[2021-10-18 20:06] SabbitRex opened #352 "onPremisesExtensionAttributes are NULL even after passing them in select query"
I have few custom user attribute like tenant, user_type under a particular directory. My requirement was to get values of all custom user attribute using graph API. I have written below code but it does not seem to work in Java.

[code]
I am not able to fetch any custom attribute, please suggest what is wrong with the API or something wrong with my approach?

[2021-10-18 20:43] juanmarques commented on #347
Thanks @ramsessanchez !

[2021-10-26 12:55] #352 closed, assigned to ramsessanchez

[2021-10-27 08:19] SabbitRex opened #353 "Documentation on graph API retry logic - inbuilt retry API - Slow response from API leading to exception while patch."
I faced this scenario where I found the creation of user in b2c ad was particularly slow, I found this when I had written code where I am creating user using

[code]

Just as I am creating user (after giving details like display name, issuerAssignedId and other) I am now looking at the code where I am updating extension attributes. I am calling patch right after post...

[code]

Error - Request_Re

[2021-11-02 23:27] MIchaelMainer opened #357 "Version should not start with 'v'"
The latest release, [v2.0.9](https://github.com/microsoftgraph/msgraph-sdk-java-core/releases), shows a version starting with v. This is inconsistent with the latest release versions that aren't prefixed with v.

I'm going to write up a quick spec about this in the design repo.

[2021-11-03 07:11] SabbitRex commented on #353
Yeah, I have implemented a retry logic where I will try to update again after waiting waiting for 500 ms, and if I have retired 20 times, still didn't work, I will exit.

Honestly doing all the creating and then all the patching mode more sense but that was going to change the whole design of what I implemented initially.

[2021-11-03 07:11] #353 closed

[2021-11-03 12:49] baywet commented on #357
Hey Michael,
Thanks for noticing this, it was caused by the moved from ADO pipeline to Github workflow and [the use of a script to get the version](https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/abc307ce70405d4336a2c7d4ad94a28e1bc40313/scripts/getLatestVersion.ps1#L37)

If we look at popular libraries [like guava](https://github.com/google/guava/releases) they use a v prefix for the

[2021-11-04 17:39] baywet commented on #343
Is this still something you're interested in contributing to?

[2021-11-06 13:05] oprobst88 commented on #343
Sorry for the delay. I've think I don't get it. Maybe it's quicker if someone else takes care...

[2021-11-09 19:48] SabbitRex opened #362 "Creating application in B2C throwing IO exception - Java"
Hi Graph Team,

I had a question/doubt, and below is what I am trying to do...

I am trying to call Graph API to create an Application in B2C and as per documentation [https://docs.microsoft.com/en-us/graph/api/application-post-applications?view=graph-rest-1.0&tabs=java] we just have to follow below code for creating an application...

[code]

Below is what I am trying to work out...

[code]
The g

[2021-11-09 20:03] baywet commented on #362
Hi @SabbitRex
Thanks for reaching out.
Your code looks correct, you're probably missing a dependency for Azure Identity [see this post](https://stackoverflow.com/questions/69427752/netty-httpclientsecure-class-cannot-be-found)

[2021-11-09 20:16] SabbitRex commented on #362
Hi, this post helped, I was missing a dependency or should I say one of the internal Azure library was using io.netty, should not it be coming as part of Azure identity? I am wondering...

[2021-11-09 20:36] baywet commented on #362
it depends on which dependency manager you're using. We've seen people having issues like that with maven, usually gradle does a better job at pulling transitive dependencies. If you feel like something is wrong in azure identity, [please raise an issue over to their repo](https://github.com/azure/azure-sdk-for-java/issues/new).
Closing as the original question is resolved.

[2021-11-09 20:36] #362 closed

[2021-11-10 12:51] SabbitRex opened #363 "Application API throwing Graph Service Exception - Object ID not found"
Hi Team, sorry to bother, really hard with documentation...

I am trying to setup client secret using for an application that I created but I am getting below error...

[code]

The code that I was using to set secret is...

[code]

Here appId is "0c26b421-895d-4bd9-88ac-f6a300e269d9" which I got when I created the application...

[code]

When I check in the UI, I found the appId was present presen

[2021-11-10 13:24] #357 closed

[2021-11-11 10:11] samrajcse opened #364 "GCCHigh Batch not working to fetch Onedrive URL's"
Hi Team,
I am trying to create JSON batch via GRAPH API. I used java SDK. URL's are forming fine. I can able to get all the users via graph client.When I try to fetch the weburl ( Onedrive url) via batching, I am getting below error.

URL formed internally,
https://graph.microsoft.us/v1.0/$batch

Error:
{"error":{"code":"BadRequest","message":"Resource not found for the segment 'https:'.","innerEr

[2021-11-11 14:24] baywet commented on #364
I have just authored #365 to address the issue. We don't have access to national clouds so it's not possible for us to run integration tests, if you could checkout that branch and try the fix to confirm it now works before we merge it, it'd be appreciated.

[2021-11-12 06:06] samrajcse commented on #364
Hi @baywet ,
After that change, I can able to pull the records from GCC High environment. Thanks for the quick turnaround solution.

[2021-11-15 09:34] SabbitRex opened #367 "NullPointerException when setting publicClient.redirectUris"
Hi Team,

I am trying to create an application using the graph API but when I am setting, I am getting a Null Pointer Exception.

`application.publicClient.redirectUris = a list of type string`

This is my code and this is as per documentation

[code]

I even tried to set up directly like this...

`application.publicClient.redirectUris.add("https://www.youtube.com/");`

This won't work either and

[2021-11-15 11:42] SabbitRex commented on #367
Edit - We can not set public client application using a post while creating an application.

So I figured from https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-rest-beta&tabs=java we need to patch it, so first I created an application and using the object ID it returned I am trying to "patch" the application, however I am still getting the same error for line

`application.

[2021-11-15 12:32] SabbitRex commented on #367
Okay so upon further debugging I found the reason why Null Pointer is coming - publicClient is NULL hence the exception.

[2021-11-15 12:48] SabbitRex commented on #367
[code]

Worked out. Closing issue.

[2021-11-15 12:48] #367 closed

[2021-11-16 18:37] #343 closed

[2021-11-16 18:41] #364 closed

[2021-12-01 20:54] baywet commented on #271
this is on pause until we migrate of to kiota and/or until we get strong customer demand for it.

[2021-12-03 15:54] maisarissi opened #385 "Update the SDK features support on the msgraph-sdk-design repo"
We have a repository that holds documents related to current and on-going work on Microsoft Graph SDKs and specify [which features are supported for each language](https://github.com/microsoftgraph/msgraph-sdk-design#sdk-features-support).
Please, update the Java column to reflect the current status of the Java SDK.

[2021-12-16 11:03] #385 closed

[2022-01-17 19:02] baywet commented on #88
@ramsessanchez worth revisiting (see my message on the general channel about HTTP/2). FYI the setting we were originally talking about is now here.
https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/97290f51dc3dae2a17f2a45200abdcb4e0b29f65/src/main/java/com/microsoft/graph/httpcore/HttpClients.java#L34

Since okhttp 5 is not out yet the idea would be to:
- remove that setting
- test the

[2022-01-18 20:26] martmoldau opened #414 "Remove dependency on GSON internal API"
There are classes used from Gson internal API
com.google.gson.internal.Streams is used in com/microsoft/graph/serializer/ODataTypeParametrizedIJsonBackedTypedAdapter.java
com.google.gson.internal.bind.ReflectiveTypeAdapterFactory is used in com/microsoft/graph/serializer/FallbackTypeAdapterFactory.java

This is also the reason why this library cannot be used in the OSGI environment as starting fro

[2022-01-19 13:38] baywet commented on #414
Hi @martmoldau
Thanks for reaching out.
FYI we're working on an overhaul of the Java SDK by switching it to our newest generator [kiota](https://github.com/microsoft/kiota). This effort will take time, and you should see previews for that newer version in the next few months.

Part of that effort includes changes in the way serialization/deserialization is handled to avoid a strong dependency on a

[2022-01-19 14:35] maisarissi opened #415 "HTTP/2 validation"
AGS is rolling out HTTP/2 support. It is already available in Canary.

The goal here is to test our current client against Canary to validate that it's using http2 when available and there's no issues related to http.2 (response header casing etc.)

Details to connect to Canary are available on the dedicated Teams discussion.

[2022-01-19 21:19] martmoldau commented on #414
Hi @baywet

Solution I'm working on is integration between different systems including different parts from Microsoft O365. This is based on [Apache Camel](https://camel.apache.org/) which runs in OSGI environment [Apache Karaf](https://karaf.apache.org/). There are ready made enterprise integration platforms also built on top of these. Red Hat Fuse or Talend for an example.
MS Graph API is a big

[2022-01-20 12:53] baywet commented on #414
Thanks for the additional information.
So, if I understand things properly:

- Because msgraph and msgraph-core are not OSGI bundles, you can't import them as-is in the targeted runtime?
- One reason why they are not OSGI bundles is because they are missing properties in the manifest?
- Another reason why they are not OSGI bundles is because they rely on internal APIs from GSON?
- You are able to

[2022-01-20 21:39] martmoldau commented on #414
You understood and described things in the first section quite right. Adding manifest properties is actually _only_ reason why they are not OSGI bundles. Adding those properties to manifest will make it OSGI ready, but then it wants to import gson internal classes  and this fails because gson OSGI bundle has those internal classes, but for internal use only.

It's not mandatory to create or export

[2022-01-21 13:59] baywet commented on #414
Thanks for the additional information.

Okhttp, interestingly enough it seems the only reason why they don't have it is because [nobody submitted a pull request for it](https://github.com/square/okhttp/issues/6618#issuecomment-860165454), having somebody do the work would make all the dependencies compliant according to your analysis.

Would this conflict with JPMS and the META-INF/MANIFESTS.MF we

[2022-01-23 21:43] martmoldau commented on #414
My analysis may not be comprehensive, but yes it would make life a little easier if one day all dependencies will have entries in manifest for OSGI too. I'm not familiar with gradle otherwise I could do the PR myself. Looks like I should take the time to study it. Meanwhile I can't answer your question about gradle plugins. With Maven I'm using Apache Felix Maven Bundle Plugin wich is using bndtoo

[2022-01-24 12:59] baywet commented on #414
Thanks a lot for all those additional details! This is going to be pending on #323 (my initial comment), which is going to take a few months.

[2022-01-24 12:59] baywet commented on #414
In the meantime, would you mind sharing the details for the workaround you used to make the current version work here please?

[2022-01-27 16:47] martmoldau commented on #414
Thank you, @baywet, too!
My workaround was to customize gson's package manifest to export the internal packages too, but as this is not a recommended practice I prefer not to share the details here.
If one decides to follow my path around gson and installing ms-graph 5.11.0 and ms-graph-core 2.0.10 on Karaf OSGI then following might help a bit:

[code]
There might be more dependencies needed depen

[2022-01-27 17:11] baywet commented on #414
thanks for sharing that additional information with the broader community!

[2022-02-04 13:02] #88 closed

[2022-02-04 13:02] #415 closed

[2022-02-17 03:52] huangdezhou008 opened #441 "‎IF YOU SEND AN IMAGE LARGER THAN 2M IN THE BODY OF THE MESSAGE, THE CALL WILL BE SUCCESSFUL, BUT THE RECEIVED EMAIL WILL BE EMPTY‎"
‎IF YOU SEND AN IMAGE LARGER THAN 2M IN THE BODY OF THE MESSAGE, THE CALL WILL BE SUCCESSFUL, BUT THE RECEIVED EMAIL WILL BE EMPTY‎

[2022-02-17 13:18] baywet commented on #441
Hi @huangdezhou008 ,
Thanks for reaching out, please use English as the language of choice for this forum, it makes it easier for everyone to contribute to the discussions. (updated your original post with automated translation, hopefully it's accurate)

Can you provide a code snippet on how you upload the attachments and send the emails?

Also have you seen [large file upload with SDKs](https://d

[2022-02-17 20:01] jasonjoh opened #445 "LargeFileUploadTask sends Authorization header when uploading to Outlook attachment causing error"
### Expected behavior

LargeFileUploadTask should successfully upload files to an Outlook attachment (see https://docs.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0&tabs=java)

### Actual behavior

The request returns a 401.

From Fiddler:

[code]

[code]

### Steps to reproduce the behavior

[code]

## More info

I compared a Fiddler trace of this failure with a Fiddl

[2022-02-17 20:30] maisarissi opened #446 "Update Telemetry Handler according to the updated spec"
We need to make sure Java SDK is following the [Telemetry Handler spec](https://github.com/microsoftgraph/msgraph-sdk-design/blob/master/middleware/TelemetryHandler.md).

We need to differentiate beta than v1 requests in addition to the SDK version information.

[2022-02-24 15:33] aappddeevv opened #448 "support netty http client similar to msgraph library"
I've look through the issue but did not see this already in this repo or msgraph-sdk-java.

I have apps that use both msgraph, azure and a few other services--think integration server with workflow. Azure client library allows the use of pluggable http clients including netty. I also use netty for other services so I'm trying to get to a common http client underneath. This issue is a request for a

[2022-02-24 15:52] baywet commented on #448
Hi @aappddeevv
Thanks for reaching out.
The Java SDK will be moving to a new generator called [Kiota](https://github.com/microsoft/kiota) in the near future.
We're doing that to solve a number of issues including decoupling the generated service libraries from any implementations (http lib, serialization lib, authentication lib).
The work is tracked across multiple repositories, but you can subscr

[2022-02-24 15:52] #448 closed, assigned to baywet

[2022-02-25 01:01] #441 closed

[2022-03-17 19:21] ddyett opened #467 "Turn on automatic issue opening to the project board"
Port Github action to assign issues to the below repos.

- [x] Java Core
- [x] Java Beta
- [x] Java V1

[2022-03-25 04:41] ddyett opened #470 "test"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2022-03-25 04:44] #467 closed

[2022-03-31 16:25] baywet commented on #414
To provide additional context on that we're working on a migration to our new SDK generator [kiota](https://github.com/microsoft/kiota), this is going to take a while, but part of doing that work will [remove a dependency on those internal classes](https://github.com/microsoft/kiota/blob/3733d8d0c27f88aeaf269ae6f4838874736a8518/serialization/java/json/lib/src/main/java/com/microsoft/kiota/serializ

[2022-03-31 21:04] ddyett opened #471 "Move kiota libraries to their own repositories"

[2022-04-12 14:23] jukkaleh opened #480 "DefaultLogger's implementation for http 404 make no sense"
DefaultLogger's implementation splits one Request_ResourceNotFound error message into multiple SEVERE log messages effectively flooding logs with meaningless error messages.

Another issue is that 404 are treated as erros, why? Service principals (daemon and application) don't have any user information in Azure ad and for them graph-api query returns 404 as expected, this should not be considered

[2022-04-19 19:18] maisarissi opened #483 "Ability to add a hostname to the authentication provider"
As part of the work on testing the support for HTTP/2 through the SDK we have identified that the [list of hostnames](https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/21b1d75b5f10496a6916a33a4ead8d8425075988/src/main/java/com/microsoft/graph/authentication/BaseAuthenticationProvider.java#L14) is hardcoded in the current Java SDK.
Meaning that customizing the client creation will not be

[2022-04-20 06:27] jukkaleh commented on #480
Since posting this I've learned that one can detect app-only access tokens (daemon and application) by applying optional to claim to access token as stated here https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#user-and-application-tokens

However issue remains how "microsoft-graph" handles 404. Library should not log them as errors and if it does log something don't lo

[2022-04-20 09:33] baywet opened #489 "Update sonar cloud workflow Java step"
I've noticed that since we upgraded to v3 the workflow keeps falling, we're missing the mandatory distribuons paramètre.
I believe we have that parameter on the regular ci cd workflow.
Just adding it should fix the problem.
https://github.com/microsoftgraph/msgraph-sdk-java-core/runs/6092285228?check_suite_focus=true

[2022-04-22 17:19] #483 closed

[2022-04-22 17:22] #489 closed

[2022-04-22 17:22] ramsessanchez commented on #489
https://github.com/microsoftgraph/msgraph-sdk-java-core/pull/495

[2022-04-26 13:06] jasonjoh commented on #445
I think this is actually a bug in my code. I'm using a custom auth provider, and I'm not doing any checks on the request URL to decide if it *should* send a token or not. In my `getAuthorizationTokenAsync`, I just always return a Graph token.

[2022-04-27 20:54] #445 closed

[2022-05-06 13:38] pitinono opened #502 "Nullable property is not sent when patch is used: unable to delete TaskPlanner assignee (for example)"
Hello,

For an user assignment removal in a planner task, the user ID assignment object has to be null and written as is in the json sent.
But, as the Gson instance in the DefaultSerializer is not setted up with the serializeNulls() option, the null property is excluded.
So the removal is not possible, even if it is a standard behavior of the API.

Do you confirm this issue ?

What would be a work

[2022-05-12 10:02] cemkucuk commented on #480
+1, we cannot set logger properly to error in production. It produces many lines for non-existent data.

[2022-05-13 12:38] baywet commented on #480
Hey everyone,
Thanks a lot for all the great feedback on that aspect. We know observability is lacking at best in the current version of the SDK.
Our architect is [working on a spec to implement across all languages](https://github.com/microsoftgraph/msgraph-sdk-design/pull/72) that should greatly improve that area in the future.
Don't hesitate to have a look at it a provide additional feedback th

[2022-05-24 10:08] qavid commented on #480
Hi @baywet, we have the same problem.

Could you please consider removing `ex.getMessage(shouldLogVerbosely)` from log message?

https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/ea24bcf883fc99f5e7b3b33a6c09959d097fe2a4/src/main/java/com/microsoft/graph/http/CoreHttpProvider.java#L491-L495

It will reduce duplicated informations in logs.

[2022-05-24 12:02] baywet commented on #480
Right, because the logging stack already logs the message as well, which contains the same information.
Would you be willing to submit a pull request to correct this?

[2022-05-25 17:33] qavid commented on #480
Hi @baywet , I have created PR #514. It address only the first problem of this issue (logs flooding).

@jukkaleh I would suggest you custom logger till the second problem is addressed

[code]

[2022-05-25 19:08] #480 closed

[2022-05-26 18:02] ramsessanchez opened #516 "Update Thrown Exceptions to be More Specific"
Currently in the core SDK there are plenty of instances in which a generic 'Exception' is thrown. Spotbugs is flagging this as warnings and thus there is a need to be more specific in the exceptions we throw and how we handle them. Updating the current exceptions would result in a breaking change and thus we have relied on simply suppressing these warnings. Moving forward as we reorganize with Kio

[2022-05-26 18:05] baywet commented on #516
Context #509
Types:
- src/main/java/com/microsoft/graph/http/IStatefulResponseHandler.java
- src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponseHandler.java
- src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java

[2022-05-26 19:06] ramsessanchez opened #521 "Ensure version bump on PR's into Master"
Must include an action step to ensure that we are updating the version whenever we make a PR to master in order to prevent a duplicate version release.

[2022-06-06 18:17] ramsessanchez opened #533 "BaseRequest change to RequestAdapter"
Instances and uses of BaseRequest need to be refactored/changed so that current implementations use the RequestAdapter class from Kiota-Abstractions.  This would include tasks such as batchRequest and others.

[2022-06-06 18:21] ramsessanchez opened #534 "HttpProvider removal"
Uses of HttpProvider need to be updated as its functionality is covered in RequestAdapter from Kiota-Abstractions.
HttpProvider will likely be removed and functionality absorbed by the new BaseClient class which in turn uses the BaseGraphRequestAdapter and the underlying layer of functionality.

[2022-06-06 18:24] ramsessanchez opened #535 "Middleware Options need to implement RequestOptions"
Following the reorganization and updates to the middlewareOptions they must now also implement RequestOptions which live in Kiota-Abstractions.

[2022-06-06 18:25] ramsessanchez opened #536 "IBaseClient refactor"
BaseClient must be changed to follow the pattern set in the DotNet library for Kiota.
New BaseClient instance will hold a BaseGraphRequestAdapter which will be used to make requests to the Graph.

[2022-06-06 18:25] ramsessanchez opened #537 "GraphClientFactory creation"
GraphClientFactory must be added to Kiota-Core.
HttpClients (Current) -> GraphClientFactory (New)
Follow the spec currently in the DotNet Kiota library.

[2022-06-06 18:31] ramsessanchez opened #538 "Delete Files following BaseClient, HttpProvider, Options, & BaseRequest Updates"
Following the refactor/updates to the IBaseClient, HttpProvider, & BaseRequest ensure that we rid the library of any unnecessary files, methods, & references to these models.  Options should no longer live in Kiota-Core aside from a select few, this includes graphTelemetaryOptions as this will be graph specific. Most other options are abstract and will live in the Kiota Library.

[2022-06-06 18:34] ramsessanchez opened #539 "[Tracking] Graph Client Refactor to Kiota Core"
- [] #533
- [] #534
- [] #535
- [] #536
- [] #537
- [] #538

[2022-06-16 18:27] ramsessanchez commented on #502
Hi @pitinono my biggest apologies for the delayed response. I believe that we currently do offer the option to serialize nulls, in order to do this I suggest the following after creating your client:
[code]
Once again, apologies for the very delayed response. I hope the following is able to help. Thanks!

[2022-06-22 00:31] ramsessanchez opened #554 "Refactor Upload Task"
Refactor the Upload Task in GraphCore to make use of the newly created ClientFactory.

[2022-06-23 19:02] #502 closed

[2022-06-23 19:10] #471 closed

[2022-07-27 10:57] jukkaleh commented on #111
@baywet I have been using this generic iterator for current sdk collection pages.
[code]

[2022-08-03 14:42] baywet commented on #111
Thanks for sharing this @jukkaleh. Would you be willing to provide a pull request following your implementation and the design guidance linked in my first message?

[2022-08-05 14:04] maisarissi commented on #554
As part of this work, we should also [remove the slice size constraint](https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/f14fc08176c4f08ff073dbcc24bf14123bd0f1e0/src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java#L141).
The SDK must have a default value of 5MB but it shouldn't throw an exception when the slice size isn't multiple of 320KiB.
The max slice size parameter sh

[2022-08-11 18:21] #537 closed

[2022-08-11 18:21] #536 closed

[2022-08-25 12:51] samrajcse opened #599 "O365 eDiscovery API Authentication failing with client credentials flow"
Hi Team,
I  have a JAVA code to connect with graph api and perform few operations. That code is working fine for users/ sites/ drive endpoints. Now I am trying to access the ediscovery API's to crease case via automated workflow. I am getting unauthorized access.  I have provided Application scopes in Azure app and I decoded the JWT access token and It lists all scopes properly. But still I am get

[2022-08-25 13:04] baywet commented on #599
Hi @samrajcse
Thanks for using the Java SDK and for reaching out.
This repo is dedicated to the SDK itself, for questions about the APIs, the best is 5to [reach out on the dedicated Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/topics/microsoft-graph-security.html).
[The beta documentation](https://docs.microsoft.com/en-us/graph/api/security-casesroot-list-ediscoverycases?view=grap

[2022-08-25 13:04] #599 closed

[2022-08-30 05:42] samrajcse commented on #599
Hi @baywet , Thanks for the update. I am trying to authenticate as delegated application and there is no SDK API to work on this. I have generated refresh token and now i want to create graph client with refresh token. How can I use? I can pass client id/ secret/ tenant id along with refresh token. But I don't see any java class to support this.

[2022-09-02 12:43] GeertZijlmans1 opened #606 "Inconsistency with GraphError's code property and GraphErrorCodes.ITEM_NOT_FOUND"
### Expected behavior
When a GraphError's code field has the value "ErrorItemNotFound", then GrapError#isError method should return true for GraphErrorCodes.ITEM_NOT_FOUND.

### Actual behavior
I have a catch-block for a GraphServiceException and I'm checking the error code that is returned. This check uses GraphError#isError.  For GraphErrorCodes.ITEM_NOT_FOUND this check returns false, whereas t

[2022-09-02 20:01] GeertZijlmans1 commented on #606
@baywet @ramsessanchez

My issue seems to be related to:

- https://github.com/microsoftgraph/msgraph-sdk-serviceissues/issues/7
- https://github.com/microsoftgraph/msgraph-sdk-java/issues/652

[2022-09-12 21:37] #534 closed

[2022-09-12 21:37] #538 closed

[2022-09-12 21:37] #533 closed

[2022-09-12 21:38] #535 closed

[2022-09-12 21:38] #539 closed

[2022-09-13 00:33] ramsessanchez commented on #606
Hi @GeertZijlmans1 , I believe you are correct. It seems that there may have been a change to an error code or error code update that may not have been accounted for. According to the documentation here: https://docs.microsoft.com/en-us/graph/errors, we should be expecting the response code to read ItemNotFound, however, testing in GraphExplorer does show instances 'ErrorItemNotFound', which is no

[2022-09-13 11:58] GeertZijlmans1 commented on #606
@ramsessanchez

I also encountered that I received a ValidationError on trying to patch one of my subscriptions. This error is not documented on the page you provided (and not present in the GraphErrorCodes enum).

com.microsoft.graph.http.GraphServiceException: Error code: ValidationError
Error message: The underlying connection was closed: A connection that was expected to be kept alive was clos

[2022-09-13 12:08] GeertZijlmans1 opened #621 "SocketTimeoutException / SocketException on GraphServiceClient use"
### Expected behavior
Better exception handling on SocketTimeoutException (or prevent it from happening)

### Actual behavior
In our application we are creating and caching a GraphServiceClient (for performance reasons). At a given point the use of this cached GraphServiceClient will yield a SocketTimeoutException / SocketException (checked trough ClientException#getCause after which we clear the

[2022-09-23 00:47] ramsessanchez commented on #606
Hi @GeertZijlmans1, I believe that the ValidationError is not a graph specific error thus the reason why it is not a part of the enum set that was mentioned earlier.
In regards to your previous issue, we have noticed that the error code is specific to the Microsoft Exchange workload. It is most likely that we will look into adding ErrorItemNotFound to the enum set as it is unlikely that they will

[2022-09-26 07:57] GeertZijlmans1 commented on #606
@ramsessanchez

Thanks for your reply. But as it seems the errors mentioned are being wrapped into a GraphServiceException given the logging, hence one would expect these type or errors being part of the enum.

So the "ErrorItemNotFound" seems to occur when the workload on Exchange is too high, which would be more like something "don't bother us right now" / "Service too busy". Is there any strate

[2022-09-29 19:02] maisarissi commented on #252
Hey everyone.
Level 26 or later today support 91.1% of all Android devices: https://apilevels.com/
Since we haven't gotten much traction on this issue to support older versions, we are going to close this permanently or until we get a strong request from the community.

[2022-10-06 16:41] ramsessanchez commented on #606
@GeertZijlmans1
Apologies for the delay, but we have determined that the current best course of action is to include that error code in our enum set. We are currently working on a new version of our SDK which will include improvements to both our service library as well as the core library which we expect will prevent issues such as this to happen in the future. Thanks for helping us improve!

[2022-10-07 07:16] GeertZijlmans1 commented on #606
@ramsessanchez
Thanks for acknowledging the issue and thanks for the improvement in the SDK. Is there any chance that this ErrorItemNotFound turns into a 'Service too busy' kind of error with an exponential back off? As you stated in one of your comments this error gets thrown when the workload is high on an Exchange environment.
Also could this error occur more often when using a hybrid setup in

[2022-10-11 02:52] sebastien-belin-adp opened #644 "Possible NullPointerException in BaseRequest when using QueryOption with null value"
I don't think this is an urgent issue but  it happens when I'm using a **_com.microsoft.graph.options.QueryOption_** with a null value, which is possible as the constructor clearly allows it:
[code]

[QueryOption.java L38)](https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/dev/src/main/java/com/microsoft/graph/options/QueryOption.java#L38)

And If I make a request, technically most requ

[2022-10-20 22:08] ramsessanchez commented on #606
@GeertZijlmans1 , the latest version of the v1 sdk uses  GraphCore 2.0.14 which includes the added enum. https://github.com/microsoftgraph/msgraph-sdk-java/pull/1233
As for your earlier question, I am not certain as I am not familiar with the Exchange workload or their exception handling unfortunately.

[2022-10-20 22:08] #606 closed

[2022-11-11 00:33] ddyett commented on #644
should be addressed in next major version.

[2022-11-18 14:01] david-burke-securian opened #684 "Response body not parsed for 202 -- doesn't match HTTP spec or Graph API behavior"
When the response code of an API call is `202 Accepted`, then `CoreHttpProvider` [calls handleEmptyResponse()](https://github.com/microsoftgraph/msgraph-sdk-java-core/blob/8ed0ef47205684d70d49b4ff3fc7dfbaf519956f/src/main/java/com/microsoft/graph/http/CoreHttpProvider.java#L455), which ignores the response body.

This causes the `copyNotebook` operation in the microsoft-graph jar to return an `One